*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.super-box{
  width: 100%;
  height: 100%;/*vai influenciar na altura do box com % -- usar % aqui ou lá*/
  background:blue;
  position:relative;
  padding: 15%;/*centralizar sem usar flexbox*/
  /*display:flex;
  align-items:center;
  justify-content:center;*/
}

.box{
  position:relative;
  width: auto;
  height: 300px;/*precisa ser 100% -ou auto- pra centralizar  --(ou nao? já que usei 300px e ta no centro :/)-- -- usar % aqui ou lá*/
  margin:auto;
  background-image: url("https://aquariumworks.files.wordpress.com/2014/06/ocean_life_wallpapers__32.jpg?w=584&h=438");
  background-size:cover;
  background-position: center;
}

.texto{
  position:relative;
  background:white;
  width:50%;padding:5px;/*padding:1%;left:1%;right:1%;*/
  top:60%;/*height:300px;*/
  text-align:center;
  margin:auto;
  line-height:1.5rem;
}

.super-header{
  position:fixed;
  height:100px;
  width:100%;
  background:pink;
  padding:5vh 10vw;
}

.header{
  position:relative;
  max-width:700px;
  height:150%;
  border:1px solid black;
  margin:auto;
}

.nome{
  display:inline-block;
  float:left;
  padding:1vh;
}
.nav{
  display:inline-block;
  float:right;
  padding:1vh;
}

.link{
  text-decoration:none;
  padding:5px;
}

.super-p{
  margin-top:100px;
  padding:5vw;
}